<div class="page">

  <div class="groups-list">
    <div class="groups-list-header">

      <ng-container *ngIf="isRoot();then AllGroups ; else GroupList"></ng-container>

      <ng-template #GroupList>
        &nbsp;&nbsp;<button (click)="goBack()"> Back </button>
        &nbsp;&nbsp;{{Level}} - {{ displayTitle(CurrentName) }}
      </ng-template>

      <ng-template #AllGroups>
        &nbsp;&nbsp;{{Level}} - {{ displayTitle(CurrentName) }}
      </ng-template>

    </div>

    <div class="groups-list-content">

      <div *ngFor="let GroupItem of Groups">
        <app-display-group [Group]="GroupItem"
                           (groupSelected)="GroupSelected($event)"
                           [Level]="Level"></app-display-group>
      </div>

    </div>
  </div>

  <div class="movies-list">
    <app-display-movies [Group]="CurrentName" [IsDirty]="isDirty"></app-display-movies>
  </div>

</div>
