* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.groups-page {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  justify-items: stretch;
}

.groups-list {
  display:flex;
  flex-direction:column;
  flex: 0 0 400px;
  margin-right: 10px;
}

.groups-list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  height:40px;
  font-size: medium;
  font-weight: bold;
  flex-wrap: nowrap;
  background-color: crimson;
  color: white;
}


.groups-list-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  height:100%;
  overflow-y:scroll;
}

.test {
  flex: 1 0 auto;
}
