.header {
  background-color: #badd93;
  color: #000000;
  padding: 25px;
  font-size:xx-large;
  margin:0px 50px 10px 50px;
  display:block;
  border:solid;
  border-color:black;
  box-sizing:border-box;
  height:80px;
}
