* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.movie-card {
  display:flex;
  flex-direction:row;
  height: 180px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 5px;
}

.movie-data {
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
}
.movie-title {
  flex:1;
  font-family: Arial;
  font-weight: bold;
  padding: 10px 20px 0px 10px;
}

.movie-group {
  flex:1;
  font-style: italic;
  padding: 10px 20px 0px 10px;
}

.movie-picture {
  flex: 0 0 130;
  width: 128px;
  height: 160px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 10px 10px 5px 5px;
}
