<div class="movies-list-header">

  <div class="movies-list-title">
    <div class="movies-list-previousPage" >
      <button class="movies-list-move-button"
              [ngClass]="isVisible(notFirstPage())"
              (click)="goFirstPage()"> &lt;&lt; </button>
      <button class="movies-list-move-button"
              [ngClass]="isVisible(notFirstPage())"
              (click)="goPreviousPage()"> &lt; </button>
    </div>
    page {{page | number:'3.0' }}/{{availablePages | number:'3.0'}}
  <div class="movies-list-nextPage">
    <button class="movies-list-move-button"
            [ngClass]="isVisible(notLastPage())"
            (click)="goNextPage()"> &gt; </button>
    <button class="movies-list-move-button"
            [ngClass]="isVisible(notLastPage())"
            (click)="goLastPage()"> &gt;&gt; </button>
  </div>
  </div>
</div>

<div class="movies-list">
  <div *ngFor='let MovieItem of (movies)'>
    <app-display-movie [Movie]="MovieItem"></app-display-movie>
  </div>
</div>
