<div class="movie-page">

  <div class="movies-list-header">

      <button class="movies-list-move-button"
              [disabled]="isFirstPage()"
              (click)="goFirstPage()">
        &lt;&lt;
      </button>
      <button class="movies-list-move-button"
              [disabled]="isFirstPage()"
              (click)="goPreviousPage()">
        &lt;
      </button>

      <div class="movies-list-pagenumber">
        page {{page | number:'3.0' }}/{{availablePages | number:'3.0'}}
      </div>

      <button class="movies-list-move-button"
              [disabled]="isLastPage()"
              (click)="goNextPage()">
        &gt;
      </button>
      <button class="movies-list-move-button"
              [disabled]="isLastPage()"
              (click)="goLastPage()">
        &gt;&gt;
      </button>

  </div>


  <div class="movies-list-content">
    <div *ngFor='let MovieItem of (movies)'>
      <app-display-movie [Movie]="MovieItem"></app-display-movie>
    </div>
  </div>

</div>
