

.page {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content:stretch;
  justify-items:stretch;
  height:100vh;
}

.page-header {
  flex: 0 1 100px;
  font-size: xx-large;
  font-weight: bold;
  background-color: cornflowerblue;
  line-height: 100px;
  text-align: center;
}

.page-content {
  display:flex;
  flex: auto;
  background-color: aliceblue;
}

.page-footer {
  flex: 0 1 50px;
  font-size: small;
  font-weight: normal;
  background-color: lightsteelblue;
  line-height: 50px;
  text-align: center;
}
